In [3]:
import pandas as pd
import numpy as np

In [51]:
df=pd.read_csv("MEL-lab2.csv")

In [52]:
df

     sky  air temp  humidity    wind  water  forecast  enjoy sport
0  sunny      warm    normal  strong   warm      same          yes
1  sunny      warm      high  strong   warm      same          yes
2  rainy      cold      high  strong   warm    change           no
3  sunny      warm      high  strong   cool    change          yes

In [53]:
concepts=np.array(df)[:,:-1]

In [54]:
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [55]:
target=np.array(df)[:,-1]

In [56]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [57]:
def train(con,tar):
    for i, val in enumerate(tar):
        if val.lower()=='yes':
            specific_h=con[i].copy()
            break
    
    for i, val in enumerate(con):
        if tar[i].lower()=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [58]:
print(train(concepts,target) )

['sunny' 'warm' '?' 'strong' '?' '?']

### ------------------------------------------------------------------------------------------------------------------------------

In [34]:
data=pd.read_csv("MEL-lab2(b).csv")

In [37]:
data

  citationa     size inlibrary       price editions  buy
0      some    small        no  affordable     many   no
1      many      big        no   expensive      one  yes
2      some      big    always   expensive      few   no
3      many  medimum        no   expensive     many  yes
4      many    small        no  affordable     many  yes

In [45]:
concepts=np.array(data)[:,:-1]

In [46]:
concepts

array([['some', 'small', 'no', 'affordable', 'many'],
       ['many', 'big', 'no', 'expensive', 'one'],
       ['some', 'big', 'always', 'expensive', 'few'],
       ['many', 'medimum', 'no', 'expensive', 'many'],
       ['many', 'small', 'no', 'affordable', 'many']], dtype=object)

In [47]:
target=np.array(data)[:,-1]

In [48]:
target

array(['no', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [49]:
def train(con,tar):
    for i, val in enumerate(tar):
        if val.lower()=='yes':
            specific_h=con[i].copy()
            break
    
    for i, val in enumerate(con):
        if tar[i].lower()=='yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x]='?'
                else:
                    pass
    return specific_h

In [50]:
print(train(concepts,target))

['many' '?' 'no' '?' '?']